/system/database
/system/core
/system/fonts
/static/my_config.php
/application/config
.htaccess
/uploads/docs/BL_LAKHAL.pdf
/uploads/docs/bl_lakhal.pdf
/static/aa
/static/xml
backup*.sql.bz2
backup*.sql
application/logs
